@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

/* Define --main-bg-color here */
:root {
    --text-color: white;
    --main-color: pink;
    --btn-color: pink;
    --btn-hover: #492bdf62;
    --cards-color: rgba(179, 5, 14, 0.508);
    --container-color: rgba(255, 192, 203, 0.54);
    --radius: 10px;
    --basic-border: 1px solid #ddd;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(to bottom, #f2f2f2, #f0f0f0);
    font-family: 'Kanji', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../mangas-photos/Japan-2107x1406.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.nav-link a {
    text-decoration: none;
    color: var(--text-color);



}

h1 {
    text-align: center;
    font-size: 48px;
    color: var(--text-color);
}

.input {
    font-size: 20px;
    color: var(--text-color);
    border: var(--basic-border);
    width: 300px;
    padding: 0.5rem;
    margin-top: 15px;
    background-color: var(--main-color);
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    border-radius: var(--radius);
    color: var(--text-color);
}


.btn {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: var(--radius);
    border: var(--basic-border);
    background-color: var(--btn-color);
    text-align: center;
    text-justify: center;
    padding: 12px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.btnDiv {
    display: flex;
    align-items: center;


}

.save {
    width: 50px;
    padding: 5px;
}

.collapse,
.vertical {
    padding: 0px;
    margin: 0px;
    width: 50px;
    font-size: 25px;
}

.delete {
    width: 50px;
    font-size: 20px;
}

.fa-trash {
    font-size: 20px;
    color: red;
}

.fa-floppy-disk {
    font-size: 30px;
    color: rgb(44, 177, 197)
}

.btn:hover {
    background-color: #492bdf62;
}

.text {
    font-size: 30px;
    color: var(--text-color);
    min-width: 300px;
    min-height: 50px;
    max-width: 1000px;
    text-align: center;
    padding: 10px 0;
    background-color: var(--main-color);
    border: var(--basic-border);
    border-radius: var(--radius);
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourList {
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
    margin: 20px;
    margin-left: 50px;
    background-color: var(--container-color);
    border-radius: var(--radius);
    border: var(--basic-border);
    transition: 0.4s ease;
    margin-bottom: 100px;
}

.responsiveEvents {
    padding-left: 20px;
}

.savedElements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 10px;
    min-width: 10px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 500px;
    background-color: var(--container-color);
    border: var(--basic-border);
    border-radius: var(--radius);
    transition: 0.4s ease;
}


.savedElements .inputLabel {
    display: none;
}

.savedElements .save {
    display: none;
}

.ourList .card {
    margin: 20px;
    padding: 15px;
    max-width: 800px;
    min-width: 200px;
}

.ourList .card img {
    max-width: 800px;

    border-radius: var(--radius);
}

.savedElements .card {
    margin: 20px;
    width: fit-content;
    padding: 15px;
    min-width: 200px;
}


.savedElements .card img {
    max-width: 400px;
    border-radius: var(--radius);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cards-color);
    border: var(--basic-border);
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 1000px;
    min-width: 200px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.post-btn {
    border: var(--basic-border);
    color: var(--text-color);
    width: 75px;
}

.hide {
    display: inline-block;
}

input[type=file] {
    display: none;
}

.inputLabel {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: var(--radius);
    border: var(--basic-border);
    margin: 20px 0;
}

.inputLabel:hover {
    background-color: var(--btn-hover);
}



.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255, 192, 203, 0.906);


}

.front {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--container-color);
    border: 1px solid #ddd;
    border-radius: var(--radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .nav-link {
        font-size: 20px;
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        font-size: 36px;
    }



    .input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .collapse {
        width: 20%;
    }

    .responsiveEvents {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 20px;
        gap: 20px;
    }

    .vertical {
        display: none;
    }

    .text {
        font-size: 24px;
        width: 100%;
    }

    .front {
        width: 80%;
        margin: auto;
    }

    .ourList,
    .savedElements {
        /* width: 20% !important; */
        min-width: none;
        margin: 20px 0;
    }

    .card {
        width: 80%;
    }
}