/* Define --main-bg-color here */
:root {
    --text-color: white;
    --main-color: pink;
    --btn-color: pink;
    --btn-hover: #492bdf62;
    --cards-color: rgba(179, 5, 14, 0.508);
    --container-color: rgba(255, 192, 203, 0.54);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./mangas-photos/Japan-2107x1406.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: var(--text-color);
}

.input {
    font-size: 20px;
    color: var(--text-color);
    width: 300px;
    padding: 0.5rem;
    margin-top: 15px;
    background-color: var(--main-color);
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    color: var(--text-color);
}


.btn {
    margin-top: 15px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--btn-color);
    text-align: center;
    text-justify: center;
    padding: 12px;
    /* text-decoration: none; */
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.btnDiv {
    display: flex;
    align-items: center;


}

.save {
    width: 50px;
    padding: 5px;
}

.delete {
    width: 50px;
    font-size: 20px;
}

.fa-trash {
    font-size: 20px;
    color: red;
}

.fa-floppy-disk {
    font-size: 30px;
    color: rgb(44, 177, 197)
}

.btn:hover {
    background-color: #492bdf62;
}

.text {
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourList {
    display: inline-block;
    min-height: 500px;
    min-width: 400px;
    margin: 20px;
    margin-left: 50px;
    background-color: var(--container-color);
    border-radius: 20px;
    transition: 0.4s ease;
}

.savedElements {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 500px;
    margin: 20px;
    background-color: var(--container-color);
    border-radius: 20px;
    transition: 0.4s ease;
}

.savedElements .card {
    border: solid 2px;
}

.savedElements .inputLabel {
    display: none;
}


.savedElements .save {
    display: none;
}

.ourList .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 19px;
    padding: 15px;
    background-color: var(--cards-color);
    max-width: 1000px;
    min-width: 200px;
}

.ourList .card img {
    max-width: 800px;
    /* max-height: 400px; */
    border-radius: 15px;
}

.savedElements .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 19px;
    padding: 15px;
    background-color: var(--cards-color);
    max-width: 500px;
    min-width: 200px;
}


.savedElements .card img {
    max-width: 400px;
    border-radius: 15px;
}

.post-btn {
    border: 1px solid black;
    color: var(--text-color);
    width: 75px;
}

.hide {
    display: inline-block;
}

input[type=file] {
    display: none;
}

.inputLabel {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid var(--btn-color);
}

.inputLabel:hover {
    background-color: var(--btn-hover);
}