/* Define --main-bg-color here */
:root {
    --main-color: #fb2056;
    --btn-color:#0cbcdf62;
    --btn-hover:#492bdf62;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./mangas-photos/Japan-2107x1406.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    text-align: center;
    font-size: 48px;
    color: #fb2057;
}
.input {
    font-size: 20px;
    color: white;
    width: 300px;
    padding: 0.5rem;
    margin-top: 15px;
    background-color: #fb205761;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    color: white;
}


.btn {
    margin-top: 15px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--btn-color);
    text-align: center;
    text-justify: center;
    padding: 12px;
    /* text-decoration: none; */
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}
.btnDiv{
    display: flex;
    align-items: center;
    
    
}
.save{
    width: 50px;
    padding: 5px;
}
.delete{
    width: 50px;
    font-size: 20px;
}
.fa-trash{
    font-size: 20px;
    color: red;
}
.fa-floppy-disk{
    font-size: 30px;
    color: rgb(44, 177, 197)
}
.btn:hover {
    background-color:#492bdf62 ;
}
.text {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px 0;

}
.ourList {
    display: inline-block;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    
    min-height:500px ;
    min-width: 300px;
    margin: 20px;
    margin-left: 50px;
    background-color: #ac345284;
    border-radius: 20px;
    transition: 0.4s ease;

}
.savedElements {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
    min-height:500px ;
    margin: 20px;
    background-color: #ac345284;
    border-radius: 20px;
    transition: 0.4s ease;
}
.savedElements .card {
    border: solid 2px;
}
.savedElements .fileInput{
    display: none;
}
.savedElements .fileInput{
    display: none;
}
.savedElements .save{
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 19px;
    padding: 15px;
    background-color: #492bdf62;
    max-width: 400px;
    max-height: 500px;
    min-width: 200px;
  }
    .card img {
    max-width: 300px;
    max-height: 400px;
  }


.post-btn {
    border: 1px solid black;
    background-color: white;
    width: 75px;
}
.hide {
    display: inline-block;
}
